
.sub-headers {
    margin-bottom: 30px;
    font-family: 'Indie Flower', sans-serif;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
}

.section {
    background-color: #ffffff;
    padding: 30px 0;
}

.space {
    padding: 20px 20px;
}
/* Animate */
.rotprod {
    overflow: hidden;
    border: 0px solid;
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    height: auto;
    padding-bottom:2em;
}


/*Displaying special products */
.spe-prods {
    float: left;
    width: 32%;
    text-align: center;
    margin-right: 1%;
    border: 1px solid #eee;

}

.speciality {
    margin: 5% auto 0 auto;
    width: 65%;
}

.mainbox {
    background: #F5D491;
    height: 250px;
    padding: 1.5em;
    position: relative;
}

    .mainbox h3 {
        font-size: 1.5em;
        color: #42322B;
        text-transform: capitalize;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        background: #CC95C0; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.floatting-price {
    float: left;
}
.price-big {
    position: relative;
}
.price-big h3 {
    font-size: 2.5em;
    color: #FFF;
    background: #42322B;
    padding: .27em .5em;
}

.price-big p {
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    padding: 2.1em 0;
    background: #936F60;
}

.ordersection {
    padding: 1em;
    border: 1px solid #42322B;
}

.buybtn {
    font-size: .85em;
    text-transform: uppercase;
    padding: 1em 1em;
    background: #61A0AF;
    color: #fff;
    display: block;
    width: 60%;
    margin: 1.5em auto 0;
    border-radius: 4px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

a.buybtn {
    font-size: .85em;
    text-transform: uppercase;
    padding: 1em 1em;
    background: #61A0AF;
    color: #fff;
    display: block;
    width: 60%;
    margin: 1.5em auto 0;
    border-radius: 4px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

a.buybtn:hover {
    background: #BDA297;
    color: #3D2D27;
}


.price-big {
    padding: 0em 0;
    background: #fff;
}
/**responsive**/

@media(max-width:1366px) {
    a.buybtn {
        width: 62%;
    }
}

@media(max-width:1280px) {
    a.buybtn {
        width: 68%;
    }
}

@media(max-width:1080px) {
    .pricing-table {
        margin: 5% auto 0 auto;
        width: 80%;
    }

    .price-big h3 {
        font-size: 2.3em;
        padding: .35em .5em;
    }

    a.buybtn {
        font-size: .8em;
    }
}

@media(max-width:991px) {
    .spe-prods {
        float: left;
        width: 33.33%;
    }


    .price-big p {
        font-size: .75em;
        padding: 2.3em 0;
    }

    a.buybtn {
        width: 74%;
    }
}

@media(max-width:640px) {
    .spe-prods {
        float: left;
        width: 49%;
    }

    a.buybtn {
        width: 55%;
    }
}

@media(max-width:480px) {
    .price-bottom ul li {
        font-size: .9em;
    }

    .spe-prods {
        width: 50%;
        margin-left: -40px;
        width: 250px;
    }
}

@media(max-width:320px) {
    .spe-prods {
        margin-left: -50px;
        width: 250px;
    }

    .mainbox {
        background: #BDA297;
        height: 250px;
        padding: 1.5em;
        width: 100%;
    }


    a.buybtn {
        width: 60%;
        font-size: .79em;
    }
}
