@model EcomWeb.WebApp.ViewModels.CategoryViewModel;
@{

}
<link rel="stylesheet" href="~/css/product.css" />

<div class="text-center">
    <h1 class="display-4">@Model.categoryDto.Name</h1>
    <h4>@Model.categoryDto.Desc</h4>
</div>

<div class="row px-5 pt-5">
    @foreach (var product in Model.productDtos)
    {
        <div class="col-md-4 mt-4 mt-sm-0 mb-4 card-container">
            <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
                <img class="img-fluid d-block mx-auto" src="~/img/donut.png" alt="Command Hats Gear Image">
                <div class="card-body p-4 py-0 h-xs-440p">
                    <h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">@product.Name</h5>
                    <p class="price">$@product.Price</p>
                </div>
                <p class="btn w-100 px-4 text-center mx-auto">
                    <input type="submit" class="btn btn-dark btn-lg w-100" name="add-button" value="Add to cart">
                </p>
            </div>
        </div>
    }
</div>
