@using EcomWeb.Contracts.Dtos;
@{
    var productFeatured = ViewData["productFeatured"] as List<ProductDto>;
}

<div class="text-center">
    <h1 class="display-4">Do you love Milk Tea?</h1>
    <h4>Order now!</h4>
</div>
<div class="alert alert-success">@await Component.InvokeAsync("CategoryMenu")</div>
<div>@await Component.InvokeAsync("ProductFeatured")</div>
