@using EcomWeb.Contracts.Dtos
@{
    var category = ViewData["Category"] as List<CategoryDto>;
    ViewData["Title"] = "Index";

}

<table>
    <tr>
        <th>Name</th>
        <th>Desc</th>
        <th>City</th>
    </tr>
    <tr>
        <td>@category[0].Name</td>
        <td>@category[0].Desc</td>
    </tr>
</table>  